body {
  font-family: 'Poppins', 'Helvetica', 'Arial', sans-serif;

}

/*===========================HEADING=========================*/
.header {
  background-color: #FF7E02;
}

.title {
  font-weight: 100;
  font-family: 'Poppins', 'Helvetica', 'Arial', sans-serif;
  animation-delay: 0.1s;
  color: #FFFFFF;
  margin-bottom: 0;
  font-size: 112px;
  line-height: 1;
  letter-spacing: -.04em;
}

.heading {
  margin-top:17%;
  margin-left:20%;
  margin-bottom: 17%;
}
/*===========================END OF HEADING=========================*/

/*==========================ABOUT=====================================*/
.second {
  margin-top: 10%;
  margin-bottom:15%;
}

.third {
  margin-top: 10%;
  margin-bottom: 15%
}

.approach {
  font-size: 58px;
}

.orange {
  color: #FF7E02;
}

span {
  color:#FF7E02;
  text-transform:uppercase;
}

.produce {
  position: relative;
  z-index: 2;
  margin-top: 10%;
  margin-bottom: 45%;
}

.sixth {
  margin-top:10%;
  margin-bottom:15%;
}

.background-logo>img {
  opacity:.5;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}

.background-logo {
  position: relative;
  overflow: hidden;
}
