body {
  font-family: 'Poppins', 'Helvetica', 'Arial', sans-serif;

}

/*===========================HEADING=========================*/
.header {
  background-color: #FF7E02;
}

.title {
  font-weight: 100;
  animation-delay: 0.1s;
  color: #FFFFFF;
  margin-bottom: 0;
  font-size: 112px;
  line-height: 1;
  letter-spacing: -.04em;
}

.heading {
  margin-top:25%;
  margin-left:15%;
  margin-bottom: 25%;
}
/*===========================END OF HEADING=========================*/

/*==========================ABOUT=====================================*/
.orange {
  color: #FF7E02;
}

span {
  color:#FF7E02;
  text-transform:uppercase;
}

.produce {
  position: relative;
  z-index: 2;
}

.background-logo>img {
  opacity:.5;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}

.background-logo {
  position: relative;
  overflow: hidden;
}
